.App {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;

}

.Nav{
  grid-row: 2/4 ;
}

.Questcontainer{
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

.Calculator{
  grid-column: 3;
  grid-row: 2/4;
}

.Piggybank{
    grid-column: 3;
  grid-row: 2/4;
  align-self: end;
}

.question-equation{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 70pt;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
