.App {
  text-align: center;
}

/* css grid begins here */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;

}

.Nav{
  grid-row: 2/4 ;
}

.Questcontainer{
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  /* border-style: solid; */
}

.Calculator{
  grid-column: 3;
  grid-row: 2/4;
  /* border-style: solid; */
}

.Piggybank{
  grid-column: 3;
  grid-row: 2/4;
  align-self: end;
  /* border-style: solid; */
}
/* css grid ends here */

.question-equation{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 80pt;
}

.img-wrapper {
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  transform:scale(1.2);
}

/* css grid for pig drawing begins here */
.body {
}

#face-wrap {
  margin: 20px auto 0;
  width: 160px;
}

#face {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: rgb(255, 200, 200);
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.ear {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: rgb(255, 200, 200);
}
#ear-l {
  left: -20px;
}
#ear-r {
  left: +110px;
}

.eye {
  top: +75px;
  position: absolute;
  width: 40px;
  height: 4px;
  background: rgb(255, 250, 250);
}
#eye-l {
  left: +14px;
}
#eye-r {
  left: +100px;
}

#nose {
  position: absolute;
  top: +75px;
  left: +47px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgb(250, 160, 160);
}
.nose {
  top: +13px;
  position: absolute;
  width: 7px;
  height: 35px;
  background: rgb(255, 125, 125);
}
#nose-l {
  left: +16px;
}
#nose-r {
  left: +36px;
}
/* css grid for pig drawing ends here */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
